.main {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 64px 16px 64px;
}

.nav_right {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.button {
  background-color: white;
  border: 9px solid #611247;
  border-radius: 50px;
  padding: 24px 70px;
  font-size: 24px;
  font-weight: 800;
}

h1 {
  text-align: center;
  margin: 16px 0 16px 0;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 30px 200px 0 200px;
  align-items: center;
  gap: 64px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.imageText {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempImage {
  width: 600px;
  height: 200px;
  border: black 1px solid;
}

.eventImage {
  width: 100%;
  height: 200px;
}

.eventDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.eventDetailRow {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
}

.line {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 32px;
  border: 2px solid #611247;
  border-radius: 2px;
}

.youtube {
  margin-bottom: 150px;
}
