.main {
  display: flex;
  flex-direction: column;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 64px 16px 64px;
}

.nav_right {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

h1 {
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 0 200px 0 200px;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.imageText {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tempImage {
  width: 600px;
  height: 200px;
  border: black 1px solid;
}

.eventImage {
  width: 100%;
  height: 200px;
}

.eventDetailsContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.eventDetailRow {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: center;
}
